.api code {
  font-family: "Inconsolata", "Source Sans Pro", Menlo, Monaco, "Courier New", monospace;
}

dd {
  margin: .25rem;
}
/*  shouldn't be any of these */
li > p {
  margin: 0;
}
ul {
  padding: 0 0 0 1rem;
}

/**
 * scroller frame
 * needs to be on a fullpage
 */
/*.api {
  position: relative;
  width: 100%;
  height: 100%;
}
.api nav {
  z-index: 1;
  position: absolute;
  width: 200px;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  border-right: 1px solid rgba(0,0,0,.07);
}
.api__main {
  position: absolute;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}*/

@media (min-width: 600px) {
  .api__main {
    left: 300px;
  }
}

.api__section {
  margin: 4rem 0;
}
.api__section-header {
  font-size: 2rem;
  font-family: 'Lato';
}
.api__selflink {}

.api {}
.api__anchor {}
.api__anchor-offset {}

.api__box {
  line-height: 24px;
  border: 1px solid #eee;
  margin: 1.5em 0;
}
.api__box-heading {
  background: #f8f8f8;
  padding: 1rem 1.25rem 1.25rem;
  font-size: 20px;
}
.api__box-body {
  font-size: 14px;
  line-height: 20px;
  padding: 1.25rem 1.25rem;
}
.api__box-heading,
.api__section-header {
  line-height: 1;
  font-weight: 700;
  color: #444;
  margin-bottom: 1rem;
  /*font-family: 'Lato', 'Helvetica Neue';*/
}
.api__box-title {
  font-weight: 400;
  font-size: 95%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.api__arguments {}
.api__arguments-heading {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: .35em;
  text-transform: uppercase;
  color: #999;
  margin: .5rem 0 .5rem;
}
.api__arguments-list {
  margin: 0;
  padding: 0;
}
.api__param-name {
  font-family: "Menlo", "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace;
  font-weight: 400;
  font-size: 95%;
  line-height: 1.5;
  color: #19bbbb;
}
.api__arguments-list .api__type {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #666;
  margin-left: 10px;
}

.api__class {}
.api__description {}
.api__icon-link {}
.api__link {}
.api__main {}
.api__module {}

.api nav > ul {
  padding: 0;
}
.api nav > ul > li {
  list-style: none;
}

.api__nav-item-members {
  margin-left: .5rem;
  font-size: .9em;
}

.api__type {}
.api__type-default {}
.api__type-union {}
.api__type-union-separator {
  margin: 0 .5em;
}
.api__type-union-separator + .api__type {
  margin-left: 0;
}

.api__variables {}
.api__variables-instance {}
.api__variables-undefined {}
